.vscode/**
.vscode-test/**
node_modules
out/**
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
.travis.yml
appveyor.yml
coverconfig.json
publish_coverage.sh
.github/**
.c8rc.json
.coverage
coverage
tslint.json
